<body>
<div class="card-container">
<md-card>  
    <md-card-title>
      Personuppgifter
    </md-card-title>
Andreas Persson <br>
Adress: Nya Torg 11A <br>
243 30 Höör <br>
Telefonnummer: 076 760 5575 <br>
Personnummer: 851015-6212 <br>
E-post: andreas.persa.persson@gmail.com <br>
github: https://github.com/andreaspersson/AndreasCV/  
</md-card>

<md-card>
  <md-card-title>Utbildning </md-card-title>
    2014-09 till 2017-06 <br>
    Systemvetenskapliga kandidatprogrammet på institutionen för informatik Ekonomihögskolan vid Lunds Universitet. <br>
  <br>
    2012-01 till 2013-12 <br>
    Studier vid Lunds Universitet, juristprogrammet. <br>
  <br>
    2002-01 till 2004-01. <br>
    Bregårdsskolans gymnasium Karlskoga: Samhällsvetenskaplig linje med media inriktning. <br>
</md-card>

<md-card>
  <md-card-title>Arbetslivserfarenhet</md-card-title>
    2015-06 till 2015-08 <br>
    Arbetsgivare: Manpower Student <br>
    Tjänst/Titel: IT-tekniker <br>
    Huvudsakliga arbetsuppgifter: Leverans och installation av IT-utrustning. <br>
  <br>
    2014-07 till 2014-09 <br>
    Arbetsgivare: Weintendit AB <br>
    Tjänst/Titel: Mötesbokare <br>
    Huvudsakliga arbetsuppgifter: Mötesbokning B2B. Intendit är en webbyrå med mestadels små & medelstora företag som kunder. <br>
  <br>
    2005 till 2013. <br>
    Säljare <br>
    Butik, Canvas, Telemarketing, Antichurn. <br>
    Sverige, Norge, Spanien, Malta. <br>
  <br>
</md-card>

<md-card>
  <md-card-title>Övriga Meriter</md-card-title>
  2004-08 till 2005-03. <br>
  Värnplikt I19 Boden: Bekämpningsassistent, militärt vitsord 10-9-8. <br>
<br>
  2013-01 till 2013-12. <br>
  Styrelseledamot Hallands Nations FF. <br>
<br>
  2014-01 till 2014-05. <br>
  Säkerhetschef Tältnöjessektionen Lundakarnevalen. <br>
<br>
  2015-01 och 2016-12 <br>
  Vice ordförande Hallands Nations FF. <br>

</md-card>

<md-card>
  <md-card-title>Programmeringsspråk & Tekniker</md-card-title>
  Java, C#, Javascript, Node.js, Angular, React, SQL, NoSQL, Linux, Photoshop
</md-card>

<div> <!-- card-container --> 
<body>