<body>
  <div class="card-container">
  <mat-card>  
      <mat-card-title i18n="@@contactinfo">
        Contact information
      </mat-card-title>
  Andreas Persson <br>
  <span i18n="@@address">Address</span>: Lillgränd 17A <br>
  245 65 Hjärup <br>
  <span i18n="@@phone">Phone: +46 76 760 5575</span> <br>
  <span i18n="@@ssn">Personal ID number</span>: 851015-6212 <br>
  <span i18n="@@email">E-mail</span>: andreas.persa.persson@gmail.com <br>
  github: <a href="https://andreaspersson.github.io/AndreasCV/">https://andreaspersson.github.io/AndreasCV/</a> 
  </mat-card>
  
  <mat-card>
    <mat-card-title i18n="@@education">Education </mat-card-title>
      2014-09 <span i18n="@@to">to</span> 2017-06 <br>
      <span i18n="@@edu-3">Bachelor of Informatics at Lund University</span> <br>
    <br>
      2012-01 <span i18n="@@to">to</span> 2013-12 <br>
      <span i18n="@@edu-2">Studies towards a Master of Laws at Lund University. </span><br>
    <br>
      2002-01 <span i18n="@@to">to</span> 2004-01. <br>
      <span i18n="@@edu-1">Bregårdsskolans gymnasium Karlskoga: Social science program, specialisation Media</span><br>
  </mat-card>
  
  <mat-card>
    <mat-card-title i18n="@@workExperience">Work experience</mat-card-title>
      2017-07 <span i18n="@@present">to present</span> <br>
      <span i18n="@@employer">Place of employment:</span> Solliq AB<br>
      <span i18n="@@employmentTitle">Title:</span> <span i18n="@@jobTitle-3">Web developer, full stack</span> <br>
      <span i18n="@@jobAssignments">Job assignments:</span> <span i18n="@@jobDescription-3">Development of a webapplication.</span> Spring Boot, Thymeleaf, Jquery, MySQL.<br>
      <br>
      2015-06 <span i18n="@@to">to</span> 2015-08 <br>
      <span i18n="@@employer">Place of employment:</span> Manpower Student <br>
      <span i18n="@@employmentTitle">Title:</span> <span i18n="@@jobTitle-2">IT-technician</span>  <br>
      <span i18n="@@jobAssignments">Job assignments:</span> <span i18n="@@jobDescription-2">Delivery and installation of IT-equipment</span> <br>
    <br>
      2014-07 <span i18n="@@to">to</span> 2014-09 <br>
      <span i18n="@@employer">Place of employment:</span> Weintendit AB <br>
      <span i18n="@@employmentTitle">Title:</span> <span i18n="@@jobTitle-1">Meeting booker</span> <br>
      <span i18n="@@jobAssignments">Job assignments:</span> <span i18n="@@jobDescription-1">Booking of salesmeetings, B2B. Intendit is a small web agency catering mostly to small & medium sized businesses</span>  <br>
    <br>
      2005 <span i18n="@@to">to</span> 2013. <br>
      <span i18n="@@sales">Salesman</span> <br>
      <span i18n="@@salesMethods">In store,</span> Canvas, Telemarketing, Antichurn. <br>
      <span i18n="@@salesCountrys">Sweden, Norway, Spain, Malta</span> <br>
    <br>
  </mat-card>
  
  <mat-card>
    <mat-card-title i18n="@@additionalMerits">Additional Merits</mat-card-title>
    2004-08 <span i18n="@@to">to</span> 2005-03. <br>
    <span i18n="@@militaryService">Mandatory military service at I19 in Boden assisting professional officers in the military staff. Military testimonials 10-9-8</span><br>
  <br>
    2013-01 <span i18n="@@to">to</span> 2013-12. <br>
    <span i18n="@@boardMember">Board member</span> Hallands Nations FF. <br>
  <br>
    2014-01 <span i18n="@@to">to</span> 2014-05. <br>
    <span i18n="@@chiefOfSecurity">Chief of security for</span> Tältnöjessektionen Lundakarnevalen. <br>
  <br>
    2015-01 <span i18n="@@to">to</span> 2016-12 <br>
    <span i18n="@@vicePresident">Vice president</span> Hallands Nations FF. <br>
  
  </mat-card>
  
  <mat-card>
    <mat-card-title i18n="@@programmingLanguagesAndTechniques">Programming languages & Techniques</mat-card-title>
    Java, Java EE, Spring Boot, Thymeleaf, C#, Javascript, HTML, CSS, Jquery, Node.js, Angular, React, SQL, NoSQL, Linux, Photoshop
  </mat-card>
  
  <div> <!-- card-container --> 
  <body>